{
    "presets": [
        "react",
        "stage-2", ["es2015", { "modules": false }]
    ],
    "plugins": [        
        "react-hot-loader/babel",
        "syntax-dynamic-import",
        "transform-class-properties",
        ["react-css-modules",{"webpackHotModuleReloading":true}]
    ]
}
